# Dependency directories (The heavy stuff)
node_modules/
jspm_packages/
target/
bin/
*.class

# IDE / Editor folders
.vscode/
.idea/
*.swp
*.scratch
.DS_Store

# Build outputs
dist/
build/
out/

# Environment secrets (Don't leak your passwords!)
.env
.env.local
.env.development.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java specific
.gradle/
build/
!gradle-wrapper.jar